.container{
    width: 1200px;
    margin: 0 auto;
}
span{
    color:rgb(33, 150, 243);
}
.logo{
    color:rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 3%;
    text-align: left;
    padding: 25px 0px 25px 0px;
}
.email-phone-numb{
    display: flex;
    align-items:center;
    padding: 30px 0px 30px 0px;
    gap: 30px;
    
}
.email-nav{
    display: flex;
    align-items: center;
    gap: 10px;
       color: rgb(117, 117, 117);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
    text-align: left;
}
.email-txt-nav{
    color: rgb(117, 117, 117);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
    text-align: left;
}
.email-txt-nav:hover{
    color: rgb(33, 150, 243);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
}
.tel-nav{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.tel-txt-nav{
    color:rgb(117, 117, 117);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
    text-align: left;
}
.tel-txt-nav:hover{
    color: rgb(33, 150, 243);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
}
a{
    text-decoration: none;
}
.nav{
    display: flex;
    
}
.nav-portals{
    color: rgb(33, 33, 33);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
}
.nav-portals:hover{
    color: rgb(33, 150, 243);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
}
.ul-nav-menu{
    display: flex;
    list-style-type: none;
    margin: 0px;
    gap: 50px;
    padding: 30px 320px 30px 90px;
}
.nav-all-items{
    display: flex;
}
.section-main{
    background-image: url(./images/bgmain-prjs.jpg);
}
.main-all-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 200px 250px 200px 250px;

}
.main-h{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;
}
.main-button{
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(33, 150, 243);
    border-style: none;
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 6%;
text-align: center; 
padding: 10px 30px 10px 30px;
}
.text-main1{
    display: flex;
    gap: 30px;
    padding: 95px 0px 95px 0px;
}
.main1-divs{
    display: flex;
    flex-direction: column;
}
.main1-divs-img{
    width: 55px;
    height: 61px;

}
.main2-img{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background: rgb(245, 244, 250);
    padding: 30px 110px 30px 110px;
}
.h-main1{
    color: rgb(33, 33, 33);
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;
margin: 0px;
padding: 30px 0px 10px 0px;
}
.p-main1{
    color: rgb(117, 117, 117);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
margin: 0px;
}
.h-main2{
    color: rgb(33, 33, 33);
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 3%;
text-align: center;
}
.img-content{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0px 0px 190px 0px;
}
.h-main3{
    color: rgb(33, 33, 33);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 3%;
text-align: center;
margin: 0px;
}
.p-main3{
    color: rgb(117, 117, 117);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 3%;
text-align: center;
margin: 0px;
}
.h-text-main3{
    color: rgb(33, 33, 33);
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 3%;
text-align: center;
}
.img-staff{
width: 270px;
height: 260px;

}
.img-content-main3{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 0px 0px 125px 0px;

}
.staff{
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;


box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
background: rgb(255, 255, 255);
}
.staff-text{
    display: flex;
    flex-direction: column;
    padding: 30px 0px 45px 0px;
    gap: 10px;
}
.socialimages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 0px 40px 0px;
}
.a-images-staff:hover{
    background: rgb(33, 150, 243);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}
.a-images-staff{
    background:inherit; 
    background: rgba(255, 255, 255, 0.1);
   
    padding: 10px 10px 10px 10px;
}
.h-clients{
    color: rgb(33, 33, 33);
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 3%;
text-align: center;
}
.all-divs-last{
    display: flex;
    gap: 30px;

}
.svgs:hover{
    fill: #2196F3;
}
.client1{
    display: flex;
    align-items:center;
    padding: 25px 65px 25px 65px;
    box-sizing: border-box;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
    fill: rgb(175, 177, 184);
}
.client1:hover{
    fill: #2196F3;
}
.client6{
    display: flex;
    align-items:center;
    box-sizing: border-box;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
    padding: 25px 45px 25px 45px;
    fill: rgb(175, 177, 184);
}

.client2, .client3{
    display: flex;
    align-items:center;
    box-sizing: border-box;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
    padding: 25px 65px 25px 65px;
    fill: rgb(175, 177, 184);
}
.client5{
    display: flex;
    align-items:center;
    box-sizing: border-box;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
    padding: 25px 55px 25px 55px;
    fill: rgb(175, 177, 184);
}
.client4{
    display: flex;
    align-items: center;
    fill: rgb(175, 177, 184);
    box-sizing: border-box;
    border: 1px solid rgb(175, 177, 184);
    border-radius: 4px;
    padding: 25px 45px 25px 45px;
    fill: rgb(175, 177, 184);
}
.all-items-footer{
    display: flex;
    
}
.social-links{
    display: flex;
    flex-direction: column;
}
.all-items-last{
    padding: 50px 0px 100px 0px;
}
.footer-section{
    background: rgb(47, 48, 58);
}
.logo-link{
    color: rgb(255, 255, 255);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
padding: 60px 0px 0px 0px;
}
.footer-address{
    display: flex;
    flex-direction: column;
    padding: 20px 70px 60px 0px;
    gap: 10px;
    
}
.street{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: left;   
}
.email{
    color: rgba(255, 255, 255, 0.6);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
}
.phone{
    color: rgba(255, 255, 255, 0.6);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
}
a{
    text-decoration: none;
}
.footer-social-links-h{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;

}
.footer-social-links{
    padding: 70px 0px 100px 0px;
}
.a-images-footer{
    background: rgba(255, 255, 255, 0.1);
    border-radius:20px;
    padding: 10px 10px 10px 10px;
}
.a-images-footer:hover{
    background: rgb(33, 150, 243);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}
.footer-soc-links{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}